<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StaticCopy.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <StaticCopy.Settings>
            <setting name="extensions" serializeAs="String">
                <value>.png|.jpeg|.jpg|.gif|.css|.js|.ico|.swf</value>
            </setting>
            <setting name="acesskey" serializeAs="String">
                <value>AKIAJ6F26BFDPKHVPHIA</value>
            </setting>
            <setting name="secretkey" serializeAs="String">
                <value>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</value>
            </setting>
            <setting name="subdir" serializeAs="String">
                <value />
            </setting>
            <setting name="keepcasing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bucket" serializeAs="String">
                <value>static.teamlab.com</value>
            </setting>
            <setting name="dir" serializeAs="String">
                <value>D:\Work\ASC\branches\TeamLab_v2.0.1\_ci\deploy\web.studio\</value>
            </setting>
            <setting name="version" serializeAs="String">
                <value>studio/tag/2.0.2/</value>
            </setting>
        </StaticCopy.Settings>
    </applicationSettings>
</configuration>